* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --step--2: clamp(0.64rem, 0.5935rem + 0.2327vw, 0.7738rem);
  --step--1: clamp(0.8rem, 0.7195rem + 0.4026vw, 1.0315rem);
  --step-0: clamp(1rem, 0.8696rem + 0.6522vw, 1.375rem);
  --step-1: clamp(1.25rem, 1.0473rem + 1.0137vw, 1.8329rem);
  --step-2: clamp(1.5625rem, 1.2562rem + 1.5317vw, 2.4432rem);
  --step-3: clamp(1.9531rem, 1.4997rem + 2.2673vw, 3.2568rem);
  --step-4: clamp(2.4414rem, 1.7806rem + 3.3042vw, 4.3413rem);
  --step-5: clamp(3.0518rem, 2.1004rem + 4.7569vw, 5.787rem);
  --step-6: clamp(3.8147rem, 2.4584rem + 6.7815vw, 7.7141rem);
  --step-7: clamp(4.7684rem, 2.8503rem + 9.5904vw, 10.2829rem);
  --step-8: clamp(5.9605rem, 3.266rem + 13.4723vw, 13.707rem);
  --step-9: clamp(7.4506rem, 3.6868rem + 18.819vw, 18.2715rem);
  --step-10: clamp(9.3132rem, 4.081rem + 26.1612vw, 24.3559rem);
  --fluid-16-120: clamp(1rem, -1.2609rem + 11.3043vw, 7.5rem);

  --primary-color: #f3505f;
  --bg-color: #080707;
}

body {
  background-color: var(--bg-color);
  color: white;
  font-family: 'Baumans', system-ui;
  position: relative;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.flex--row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Loading Screen */

.preloader {
  background-color: rgb(21, 20, 20);
  position: fixed;
  z-index: 111111;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  pointer-events: none;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  bottom: 0;
}

.preloader__title {
  color: white;
  overflow: hidden;
  width: 50vw;
  display: grid;
  place-items: center;
}

.preloader__char {
  font-family: 'Baumans', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  letter-spacing: -6px;
  line-height: 1.5;
  position: relative;
  display: inline-block;
}

.preloader__char:nth-child(4) {
  font-family: 'Amaranth', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

.preloader__char:last-child {
  color: #ff0642;
  font-weight: bold;
  font-size: 67px;
  display: inline-block;
  position: relative;
  transform: translate(0px, 0px);
}
/* End Loading Screen */

/*Header*/

header {
  z-index: 1;
  position: sticky;
  top: 0;
}

.header__container-logo,
.header__hamb {
  overflow: hidden;
}

.header__hamb {
  z-index: 999;
}
.header__container-hamb {
  z-index: 9999;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  border: 1px #ff06403f solid;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.header__hamb-line1,
.header__hamb-line2 {
  background-color: #ff0642;
  width: 30px;
  height: 0.5px;
  border-radius: 0.5em;
  transition: all 0.2s ease-in-out;
  justify-self: center;
  display: inline-block;
}

.header__hamb-line2 {
  width: 22px;
  margin-inline-start: 0.1rem;
}

.line-open {
  transform: rotate(-30deg);
  transform-origin: right;
}

.header__nav-menu {
  z-index: 99;
  list-style: none;
  top: -1000px;
  transition: top 0.6s;
  position: absolute;
  left: 0;
  right: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: flex-start;
  font-size: 42px;
  font-weight: bolder;
  background-color: black;
  color: white;
  padding-inline: 1rem;
  overflow: clip;
}

.header__nav-link {
  position: relative;
}

li:hover {
  cursor: pointer;
}

.open {
  top: 0;
}

.header__container-social-links img {
  width: 25px;
}

.header__container-social-links {
  display: flex;
  margin-block-start: 2.5rem;
  gap: 20px;
  width: 100%;
}

/*End Header*/

/*Main*/

canvas {
  width: 100%;
  height: 100vh;
  left: -2px;
  outline: none;
  pointer-events: none;
}

.main__about-me-section {
  text-align: center;
  background-color: var(--primary-color);
  color: black;
  font-size: clamp(1.375rem, 0.9837rem + 1.9565vw, 2.5rem);
  text-wrap: balance;
  display: grid;
  gap: 3rem;
  padding-block-end: 3rem;
  line-height: 1.6;

  /* .section-title {
    position: relative;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(18, 13, 13);
    padding-inline: 3rem;
    text-wrap: nowrap;

    h2 {
      font-size: clamp(2.0625rem, 1.5625rem + 2.5vw, 3.5rem);
      color: #ff0642;
    }

    .section-title__line {
      width: 0%;
      opacity: 0;
      height: 2px;
      background-color: #ff0642;
      animation: test forwards;
      animation-timeline: view();
      animation-range: entry 0% cover 45%;
    }
  } */
}

@keyframes test {
  to {
    width: 10%;
    opacity: 1;
  }
}

.main__title-container {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, -0.0543rem + 6.5217cqi, 5rem);
  margin: auto;

  .main__title {
    font-size: clamp(5rem, -0.2174rem + 26.087vw, 20rem);
    text-wrap: nowrap;
    font-weight: bold;
    letter-spacing: -8px;
  }
}

.main__img-about {
  scale: 0.5;
  opacity: 0;
  width: clamp(4.375rem, 0.462rem + 19.5652vw, 15.625rem);
  rotate: -5deg;
  animation: appear forwards;
  animation-timeline: view();
  animation-range: entry 70% cover 80%;
}

.main__about-text {
  margin-inline: 0.3rem;
}

@keyframes appear {
  to {
    scale: 1;
    opacity: 1;
  }
}

/*End Main*/

/* Media Queries */

@media (width >= 600px) {
  .header__hamb {
    display: none;
  }
  .header__nav-menu {
    flex-direction: row;
    font-size: 16px;
    min-height: auto;
    position: relative;
    background-color: transparent;
    gap: 3rem;
    top: 0;
  }

  .flex--row {
    justify-content: space-between;
  }

  .header__container-social-links {
    display: none;
  }
}
