* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #fcf2c9; */
  background-color: black;
  color: white;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  touch-action: none; /* Evita gestos táctiles */
}

.margin-inline {
  margin-inline: 2rem;
}

.container-page {
  /* background-color: #fcf2c9; */
  min-height: 100vh;
  color: white;
  position: relative;
  font-family: 'Cabin', sans-serif;
}

.container-initial-animation {
  background-color: black;
  position: fixed;
  z-index: 111111;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  pointer-events: none;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  bottom: 0;
}

.container-demi-title {
  color: white;
  overflow: hidden;
  width: 50vw;
  display: grid;
  place-items: center;
}

.char {
  font-family: 'Baumans', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  letter-spacing: -6px;
  line-height: 1.5;
  position: relative;
  display: inline-block;
}

.char:nth-child(4) {
  font-family: 'Amaranth', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

.char:last-child {
  color: #ff0642;
  font-weight: bold;
  font-size: 67px;
  display: inline-block;
  position: relative;
  transform: translate(0px, 0px);
}

/*Menu*/

.header-menu {
  z-index: 999;
  position: sticky;
  top: 0;
  /* background-color: #fcf2c9; */
}

.container-logo,
.gsap-hamb {
  overflow: hidden;
}

.gsap-hamb {
  z-index: 999;
}
.hamb {
  z-index: 9999;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  border: 1px #ff06403f solid;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.linea,
.linea2 {
  background-color: #ff0642;
  width: 30px;
  height: 0.5px;
  border-radius: 0.5em;
  transition: all 0.2s ease-in-out;
  justify-self: center;
  display: inline-block;
}

.linea2 {
  width: 22px;
  margin-inline-start: 0.1rem;
}

.linea-open {
  transform: rotate(-30deg);
  transform-origin: right;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container-flex-menu {
  margin-inline: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
  padding-block: 1rem;
}

.container-items-menu {
  z-index: 99;
  list-style: none;
  top: -1000px;
  transition: top 0.6s;
  position: absolute;
  left: 0;
  right: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: flex-start;
  font-size: 42px;
  font-weight: bolder;
  background-color: black;
  color: white;
  padding-inline: 1rem;
  overflow: clip;
}

li:hover {
  cursor: pointer;
}

.open {
  top: 0;
}

.container-social-links img {
  width: 25px;
}

.container-social-links {
  display: flex;
  margin-block-start: 2.5rem;
  gap: 20px;
  width: 100%;
}

/*Main*/

.main-content-container {
  margin-inline: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
}

.hero-title {
  height: 100dvh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  font-size: clamp(2.115rem, 2.9076rem + 1.087vw, 3.75rem);
}

.container-gsap-words {
  overflow: hidden;
}

.gsap-words {
  display: block;
}

.container-gsap-words:nth-child(2) {
  color: #ef2e48;
  font-family: 'Baumans', system-ui;
  letter-spacing: -2px;
  font-size: clamp(3.6458rem, 2.827rem + 4.0942vw, 6rem);
}

.section-2 {
  text-align: center;
  color: white;
  font-size: clamp(1.375rem, 0.9837rem + 1.9565vw, 2.5rem);
  text-wrap: balance;
  display: grid;
  gap: 3rem;
  padding-block-end: 3rem;
  /* width: 50ch; */
}

.about-me-section {
  background-color: blue;
  height: 100%;
  position: relative;
  overflow: clip;
}

.imagen_mia {
  width: 250px;
  border: #ef2e48 2px solid;
  rotate: -5deg;
}

.prueba {
  position: relative;
}

@keyframes appear {
  from {
    transform: translateY(-400px);
  }

  to {
    transform: translateZ(0px);
  }
}

@media (width >= 600px) {
  .gsap-hamb {
    display: none;
  }
  .container-items-menu {
    flex-direction: row;
    font-size: 16px;
    min-height: auto;
    position: relative;
    background-color: transparent;
    gap: 3rem;
    top: 0;
  }

  .flex-row {
    justify-content: space-between;
  }

  .container-social-links {
    display: none;
  }
}

canvas {
  position: absolute;
  width: 100%;
  left: -2px;
  outline: none;
  pointer-events: none;
}
