* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --step--2: clamp(0.64rem, 0.5935rem + 0.2327vw, 0.7738rem);
  --step--1: clamp(0.8rem, 0.7195rem + 0.4026vw, 1.0315rem);
  --step-0: clamp(1rem, 0.8696rem + 0.6522vw, 1.375rem);
  --step-1: clamp(1.25rem, 1.0473rem + 1.0137vw, 1.8329rem);
  --step-2: clamp(1.5625rem, 1.2562rem + 1.5317vw, 2.4432rem);
  --step-3: clamp(1.9531rem, 1.4997rem + 2.2673vw, 3.2568rem);
  --step-4: clamp(2.4414rem, 1.7806rem + 3.3042vw, 4.3413rem);
  --step-5: clamp(3.0518rem, 2.1004rem + 4.7569vw, 5.787rem);
  --step-6: clamp(3.8147rem, 2.4584rem + 6.7815vw, 7.7141rem);
  --step-7: clamp(4.7684rem, 2.8503rem + 9.5904vw, 10.2829rem);
  --step-8: clamp(5.9605rem, 3.266rem + 13.4723vw, 13.707rem);
  --step-9: clamp(7.4506rem, 3.6868rem + 18.819vw, 18.2715rem);
  --step-10: clamp(9.3132rem, 4.081rem + 26.1612vw, 24.3559rem);
  --fluid-16-120: clamp(1rem, -1.2609rem + 11.3043vw, 7.5rem);

  --primary-color: #f3505f;
  --bg-color: #080707;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: white;
  font-family: 'Baumans', system-ui;
  font-size: var(--step-0);
  position: relative;
}

h2 {
  font-size: var(--step-6);
  letter-spacing: -10px;
}

h3 {
  font-size: var(--step-3);
  font-weight: normal;
}

h4 {
  font-size: var(--step--1);
}

button {
  background-color: transparent;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utility Classes */

.padding--inline {
  padding-inline: var(--fluid-16-120);
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.flex--row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Loading Screen */

.preloader {
  background-color: rgb(21, 20, 20);
  position: fixed;
  z-index: 111111;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  pointer-events: none;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  bottom: 0;
}

.preloader__title {
  color: white;
  overflow: hidden;
  width: 50vw;
  display: grid;
  place-items: center;
}

.preloader__char {
  font-family: 'Baumans', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  letter-spacing: -6px;
  line-height: 1.5;
  position: relative;
  display: inline-block;
}

.preloader__char:nth-child(4) {
  font-family: 'Amaranth', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

.preloader__char:last-child {
  color: #ff0642;
  font-weight: bold;
  font-size: 67px;
  display: inline-block;
  position: relative;
  transform: translate(0px, 0px);
}
/* End Loading Screen */

/* Hero Section */

.main__hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100dvh;
}

.main__container-titles {
  text-wrap: wrap;
  text-align: end;
  min-height: 35dvh;
  color: var(--primary-color);
}

/*Header*/

header {
  z-index: 1;
  padding-block: 2.5rem;
  width: 100%;
  position: sticky;
  top: 0;
}

.header__nav-menu {
  z-index: 99;
  letter-spacing: -7px;
  transition: top 0.6s ease-in-out;
  position: fixed;
  top: -4000px;
  left: 0;
  right: 0;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  font-size: 93px;
  background-color: var(--bg-color);
  color: white;

  .header__container-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.header__say-hello-action {
  display: grid;
  gap: 0.5rem;
  font-size: var(--step-0);
  letter-spacing: 0;
  color: var(--primary-color);

  p {
    font-size: var(--step-1);
  }

  a {
    text-decoration: none;
    color: var(--primary-color);
    border-block-end: 1px solid;
  }
}

.header__container-logo,
.header__hamb {
  overflow: hidden;
}

.header__container-hamb {
  z-index: 9999;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  border: 1px #ff06403f solid;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.header__hamb-line1,
.header__hamb-line2 {
  background-color: #ff0642;
  width: 30px;
  height: 0.5px;
  border-radius: 0.5em;
  transition: all 0.2s ease-in-out;
  justify-self: center;
  display: inline-block;
}

.header__hamb-line2 {
  width: 22px;
  margin-inline-start: 0.1rem;
}

.line-open {
  transform: rotate(-30deg);
  transform-origin: right;
}

.header__nav-link {
  padding: 0.6rem;
}

.active::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 0.9rem;
  z-index: -1;
  background-color: var(--primary-color);
  border: 1px solid black;
}

.header__nav-link:where(.active) {
  color: black;
}

.open {
  top: 0;
}

.header__container-social-links {
  gap: 1.5rem;
  width: 100%;
  display: flex;
}

.header__container-social-links img {
  width: 25px;
}

.header__logo-img {
  width: 71px;
  height: 30px;
}

/*End Header*/

/*Main*/

canvas {
  width: 100%;
  height: 50dvh;
  left: -2px;
  outline: none;
  pointer-events: none;
}

.main__about-me-section {
  background-color: var(--primary-color);
  color: black;
  text-wrap: balance;
  display: grid;
  gap: 7rem;
  padding-block-end: 3rem;
  line-height: 1.6;

  /* .section-title {
    position: relative;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(18, 13, 13);
    padding-inline: 3rem;
    text-wrap: nowrap;

    h2 {
      font-size: clamp(2.0625rem, 1.5625rem + 2.5vw, 3.5rem);
      color: #ff0642;
    }

    .section-title__line {
      width: 0%;
      opacity: 0;
      height: 2px;
      background-color: #ff0642;
      animation: test forwards;
      animation-timeline: view();
      animation-range: entry 0% cover 45%;
    }
  } */
}

.main__line {
  width: clamp(17.5rem, 4.1522rem + 66.7391vw, 55.875rem);
  height: 1px;
  background-color: black;
}

.main__line--secondary,
h3 {
  place-self: flex-end;
}

.main__about-me-secundary {
  max-width: 45ch;
  margin-inline-start: clamp(1.5625rem, 0.4538rem + 5.5435vw, 4.75rem);
}

.main__gallery {
  display: grid;
  place-items: center;
  gap: 4rem;
  grid-template-columns: 1fr;

  img {
    width: 280px;
  }

  /* img:nth-child(2) {
    grid-column: 4 / 7;
  }

  img:nth-child(3) {
    grid-column: 1 / 2;
  } */
}

@keyframes test {
  to {
    width: 10%;
    opacity: 1;
  }
}

.main__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .main__title {
    font-size: clamp(5rem, -0.2174rem + 26.087vw, 20rem);
    text-wrap: nowrap;
    font-weight: bold;
    letter-spacing: -8px;
  }
}

.main__img-about {
  scale: 0.5;
  opacity: 0;
  width: clamp(4.375rem, 0.462rem + 19.5652vw, 15.625rem);
  rotate: -5deg;
  animation: appear forwards;
  animation-timeline: view();
  animation-range: entry 70% cover 80%;
}

.main__about-text {
  width: 100%;
  font-size: var(--step-2);
}

@keyframes appear {
  to {
    scale: 1;
    opacity: 1;
  }
}

/*End Main*/

/* Media Queries */

@media (width >= 970px) {
  h2 {
    text-wrap: nowrap;
  }

  .header__hamb {
    display: none;
  }
  .header__nav-menu {
    min-height: auto;
    position: relative;
    top: 0;
    font-size: 16px;
    background-color: transparent;

    > ul {
      display: flex;
      gap: 5rem;
      letter-spacing: 0;
    }

    .header__container-logo {
      display: none;
    }
  }

  .header__container-social-links,
  .header__say-hello-action {
    display: none;
  }

  .main__gallery {
    grid-template-columns: repeat(2, 1fr);

    img:nth-child(1) {
      width: 588px;
      grid-column: 1/5;
    }

    img:nth-child(2) {
      width: 350px;
    }

    img:nth-child(3) {
      width: 512px;
    }
  }
}

@media (width < 400px) {
  .header__nav-menu {
    font-size: 70px;
  }
}
