* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: black;
}

.container-initial-animation {
  background-color: #007991;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  pointer-events: none;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.container-demi-title {
  overflow: hidden;
  width: 50vw;
  display: grid;
  place-items: center;
}

span {
  font-family: 'Baumans', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  letter-spacing: -6px;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  transform: translate(0px, 0px);
}

span:nth-child(4) {
  font-family: 'Amaranth', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

span:last-child {
  color: #ff0642;
  font-weight: bold;
  font-size: 67px;
  display: inline-block;
  position: relative;
  transform: translate(0px, 0px);
}
